<h1>Personajes de Dbz</h1>
<hr>
<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr>
    <div class="row">
      <div class="row-inner" *ngFor="let item of personajes, let i=index">
        <div class="col">{{item.nombre}}</div>
        <div class="col">{{item.poder}}</div>
        <div class="col"><button type="button" class="button-peligro" (click)="borrarPersonaje(i)">-</button></div>
      </div>
    </div>

  </div>
  <div class="col">
    <h3>Agregar <small>{{data.nombre}}</small></h3>
    <hr>
    <form (ngSubmit)="agregar()">
      <input type="text" placeholder="Nombre" name="nombre" [(ngModel)]="data.nombre">
      <input type="number" placeholder="Poder" name="poder" [(ngModel)]="data.poder">
      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
